.normal {
  margin: auto;
  text-align: left;
  height: 100%;
  position: absolute;
  width: 100%;
}

.welcome {
  height: 512px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 512px 512px;
}

.list {
  font-size: 1.2em;
  margin: 1.8em 0 0;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
.content {
  position: relative;
  text-align: left;
  height: 95%;
  left: 0px;
  padding: 3em;
  width: 100%;
  display: block;
  overflow: auto;
}
.footer {
  position: relative;
  text-align: center;
  height: 5%;
  left: 0px;
  width: 100%;
}
