.normal {
  margin: 4em;
  text-align: left;
  height: 100%;
  position: relative;
}

.welcome {
  height: 512px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 512px 512px;
}

.list {
  font-size: 1.2em;
  margin: 1.8em 0 0;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.footer {
  position: relative;
  text-align: center;
  bottom: 10px;
  text-align: center;
  width: 100%;
  padding: 1em;
  margin: 1em;
}
